# The purpose of this is split into two columns values that are separated by a delimiter such as '-'.

In [1]:
import numpy as np
import pandas as pd

from pandas import Series,DataFrame

In [2]:
# read in the file

mp_df = pd.read_csv('C:/Users/Jeffrey/Desktop/jefftestdict.csv')

In [3]:
mp_df

         C      L        m
0  jkk1234   k456  122-124
1  jkk2356   k672  133-135
2   jk1234   k891  125-126
3  jkk7846  k2834  246-248
4   jk7846   k838  192-197
5  jk38485  k3850  156-158

In [4]:
# create function to find characters of interest

def st_high(m):
    n=str(m)
    dash_pos = n.find('-') # find '-'
    return n[dash_pos+1:]   # return all characters to the right of the '-'

In [5]:
# create function to find characters of interest

def st_low(m):
    n=str(m)
    dash_pos = n.find('-')   # find '-'      
    return n[:dash_pos]    # return all characters to the left of the '-'

In [6]:
mp_df['m_1'] = mp_df['m'].apply(st_low) # create new column m_1 and return all characters to the left of the '-'
mp_df['m_2'] = mp_df['m'].apply(st_high) # create new column m_1 and return all characters to the right of the '-'

In [8]:
mp_df

         C      L        m  m_1  m_2
0  jkk1234   k456  122-124  122  124
1  jkk2356   k672  133-135  133  135
2   jk1234   k891  125-126  125  126
3  jkk7846  k2834  246-248  246  248
4   jk7846   k838  192-197  192  197
5  jk38485  k3850  156-158  156  158